:root{
  --bg: #e9e9e9;
  --text: #111;
  --muted: #444;
  --accent: #000;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height:100%;
    width: 100%;
    background-color: #ffffff;
}

// fav & download

.first2{
    display: flex;
align-items: center;
justify-content: center;
// flex-direction: column;
height: 80vh;
width: 100vw;

a,.log{
    display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000000;


    .y{
font-family: Instrument Serif;
// max-width: 489px;
font-size: 5rem;
}
.x{
    font-family: inter;
    font-size: 1.6rem;
}
}

}


// first page section

.first{
display: flex;
align-items: center;
justify-content: center;
// flex-direction: column;
height: 100vh;
width: 100vw;

a,.log{
    display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000000;

.y{
font-family: jolly lodger;
// max-width: 489px;
font-size: 5rem;
}
.x{
    font-family: Instrument Serif;
    font-size: 1.6rem;
}
}
}



// main home page section

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    background-color: white;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
    margin-top: 10px;

 

    // last container of nav bar

    .secc{
        display: flex;
    justify-content: center;
    align-items: center;
position: relative;


// search icon

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}



        //input of search section


        input[type="search"] {
  width: 200px;
  padding: 10px 35px;
//   border: 2px solid #555;
background-color: #000000;
color: white;
  border-radius: 20px;
  font-style: inter;
  font-size: 12px;
  outline: none;
  transition: 0.3s ease;
  

  &:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
  }

  &::placeholder {
    color: #b1b0b0;
    font-style: italic;
  }
}
    }

    //vertical line
     .vertical-line {
      border-left: 2px solid black; /* Creates a 2px black vertical line on the left */
      height: 50px; /* Sets the height of the line */
      margin: 0 20px; /* Optional: Adds some spacing */
    }

button{
    
      width: 100px;
  padding: 15px 5px;
  border: none;
background-color: #5891DE;
color: rgb(0, 0, 0);
  border-radius: 5px;
  font-style: inter;
  font-size: 12px;
  cursor: pointer;

}

}

a,.logo{
    display: flex;
    // align-items: center;
    gap: 10px;
    text-decoration: none;
  
    
  



   
}

nav{
    display: flex;
    /* align-items: center; */
    gap: 50px;
    flex-wrap: wrap;
   

    
    
}



nav a:link {
     
    text-decoration:none ;
    color: rgb(0, 0, 0);

}

nav a:visited {
  color: rgb(162, 14, 207);  /* विजिटेड लिंक का color */
  text-decoration: underline;
    text-decoration-color: rgb(162, 14, 207);
} 

/* a:link 
{
    color: black;
} */
/* a:visited{
    color: chartreuse;
}
a:unvisited{
    color: rgb(0, 0, 0);
} */

nav a:hover{
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;
//     border: 2px solid brown;
//     border-radius: 2px;
//     padding: 3px;
// }
}
nav a:active{
    color: aqua;
    text-decoration: aqua;
}



// login page

.navvv{
    margin: 25px 0 50px 25px;
    text-decoration: none;
    color: #000000;
    text-decoration-color: #000000;

    i{
        color: #000000;
    }
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
    gap: 10px;

    // .logo2{

    // }
    .welcome{
font-weight: 800;
font-size: 2.8rem;
    }

    .cen{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: ;
    }
    .cre{
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        align-items: center;
        justify-content: baseline;
        width: 380px;
        // flex-direction: column;
color: black;
font-size: 13px;
// padding-left: 200px;

a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
    }

    .read{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: transparent; 
        // margin-left: 60px;

    }
    .box{
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
width: 315px;
background-color: #D9D9D9;

&::placeholder{
    color: black;
}
    }
    .log{
background-color: black;
color: white;
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: none;
width: 315px;
cursor: pointer;

    }
    .gog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: 1px solid black;
width: 315px;
cursor: pointer;
    }

    .forget{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        font-size: 13px;
        color: #000000;
        gap: 15px;

       

            .fir{
             cursor: pointer;
            }

             .sec{

                a{
                    text-decoration: underline;
                    color: #000000;

                font-weight: bold;
             }
            }
        }
    }

//gallery started
.gall{
    height: 100vh;
    width: 100%;
    margin: auto;

.gall-inner{
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        height: 100vh;



    .up{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        overflow: hidden;


        .box{
    width: 250px;
    height: 45vh;
    background-color: #D9D9D9;
    border: 10px;
    border-radius: 10px;
}

.box1, .box2, .box3, .box4, .box5, .box6{
   object-fit: contain;
   object-position: center ;




   .u2{
     height: 50%;
     width: 240px;
     margin: auto;
     padding-top: 5px;

   img{
    width: 240px;
    border-radius: 10px;
    // height: 50%;
       object-fit: contain;
   object-position: center - 30px ;
    // transform: scale(0.9);
   }
}
.d2{
     height: 50%;
     width: 230px;
     margin: auto;


     .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
     }

     .dis p{
       
        text-align: center;
     }
}

}

    }


    .down{

display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        gap: 80px;


           .box{
    width: 250px;
    height: 45vh;
    background-color: #D9D9D9;
    border: 10px;
    border-radius: 10px;
}

   

 .box4, .box5, .box6{
   object-fit: contain;
   object-position: center ;




   .u2{
     height: 50%;
     width: 240px;
     margin: auto;
     padding-top: 5px;

   img{
    width: 240px;
    border-radius: 10px;
    // height: 50%;
       object-fit: contain;
   object-position: center - 30px ;
    // transform: scale(0.9);
   }
}
.d2{
     height: 50%;
     width: 230px;
     margin: auto;


     .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
     }

     .dis p{
       
        text-align: center;
     }
}

}

    }
}
}











    //gallery ended

// footer section
footer{
    font-family: "Montserrat", system-ui, Arial, sans-serif;
    padding: 40px 0;
//   font-family: "Poppins", sans-serif;
  font-size: 14px;
   position: relative;

//   margin:0;
//   background:#fff;
//   color:var(--text);
    background-color: #D9D9D9;


    .bo{
        font-weight: bold;

        div{
           max-width: 50%;
            height: 20px;
        }
        
    }

.top{
    top: 0;
    position: absolute;
    display: flex;
    // text-align: cente
    justify-content: center;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    background-color: #ADA7A7;
    margin-bottom: 20px;

    a{
        color: black;
    }
}

.last{
    display: flex;
    gap: 10px;
    justify-content: center;
    // align-items: center;
height: 280px;
width: 95%;
margin: auto;
padding-bottom: 20px;
padding-top: 20px;

.box{
    text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    font-size: 12px;


   


    // .b2{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
   
}

.box1{
    width: 290px;
    // background-color: red;
}

.box5{
    margin-top: 20px;
    width: 230px;
    // background-color: red;
}


.box2,.box3,.box4,.box6{
     margin-top: 20px;
    width: 200px;
    // background-color: red;
}

}

.line{
    display: flex;
    height: 1px;
    background-color: black;
    width: 90%;
    margin: auto;

}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    // background-color: black;
    font-size: 10px;
    width: 90%;
    margin: auto;
}


 a{
            color: black;
        }
}


//main section 
//hero section


#container{
    display: flex;
  height: 80vh;           /* full screen height */
  overflow-x: auto;       /* enables vertical scrolling */
  overflow-y: hidden;    
  scroll-behavior: smooth;
  margin-top: 20px;

}
#container::-webkit-scrollbar{
    display: none;
}
/* #container::-webkit-scrollbar
{
    height: 8px;
}
#container::-webkit-scrollbar:hover{
    background-color: #555;
} */
#container .g{
    height: 100vh;
    flex:0 0 100vw;
    background-size: cover; 
    background-image:url(./assets/images/1.jpg) ;
    // background-color: rgb(211, 123, 16);
}
#container .a{
    height: 100vh;
    flex:0 0 100vw;
    // background-color: rgb(160, 20, 153);
    background-size: cover; 
    background-image:url(./assets/images/National\ Museum\,\ New\ Delhi.jpg) ;
}
#container .b{
    height: 100vh;
    flex:0 0 100vw;
    // background-color: rgb(219, 13, 13);
    background-size: cover; 
    background-image:url(./assets/images/National\ Museum\,\ New\ Delhi.png) ;
}
#container .d{
    height: 100vh;
    flex:0 0 100vw;
    // background-color: rgb(9, 30, 168);
    background-size: cover; 
    background-image:url(./assets/images/National\ Museum\,\ New\ Delhi\ \(1\).png) ;
}
#container .e{
  height: 100vh;
    flex:0 0 100vw;
    // background-color: rgb(19, 158, 65);
    background-size: cover; 
    background-image:url(./assets/images/National\ Museum\,\ New\ Delhi\ \(3\).jpg) ;
}


// about section 
.abouts {
    height: 300px;
    width: 1000px;
    /* background: linear-gradient(135deg, #ffffff 0%, #e6e5e5 100%); */
    background-color: #ffffff;
    color: white;
    padding: 30px;
    margin-left: 200px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.abouts:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(213, 54, 213, 0.871);
}
 h2{
    color: #000;

}
p{
    margin-top: 10px;
    color:#000;
}

.line{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 21px;
}
#bold, .bold{
    color: #000;
    /* display: flex;
    align-items: flex-start; */
}
.d{
    color: #000;
}

.three-cols {
    width:1030px;
    margin-left: 180px;
     margin-right: 40px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.col {
    height:350px;
     /* width: 100px; */
    flex: 1; 
    /* margin-left: 30px; */
    /* margin-right: 40px; */
    /* background: linear-gradient(135deg, #ffecd2 0%, #d5cfcf 100%); */
     background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    color: #adacac;
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.col:hover {
    background: linear-gradient(135deg, #D9D9D9 0%, #D9D9D9 100%);
    transform: scale(1.05);
    box-shadow: 0 8px 16px #a76666;
    color: #000;
}

.two-rows {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    height:600px;
    width: 1000px;
    /* background: linear-gradient(135deg, #76b852 0%, #8DC26F 100%); */
    background-color:  #ffffff;
    color: white;
    margin-left: 200px;
    padding: 25px;
    border-radius: 10px;
    /* text-align: center; */
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(73, 65, 65, 0.1);
    
}

.cen{
     text-align: center;
}

.row:hover {
    background: rgba(215, 215, 215, 0.959);
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(176, 83, 83, 0.2);
}
.row5{
    height:250px;
}

 .pri{
    top: 0;
.title {
            text-align: center;
            font-size: 2.5em;
            color: #2c3e50;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            text-shadow: 2px 2px 4px rgba(49, 43, 43, 0.1);
            transition: color 0.3s ease;
        }
        .title:hover {
            color: #3498db;
        }
        .top-div {
            height: 150px;
            width: 1000px;
            background: linear-gradient(135deg, #D9D9D9, #D9D9D9);
            padding: 30px;
            text-align: center;
            color: white;
            border-radius: 10px;
            margin-left: 250px;
            margin-bottom: 15px;
            transition: transform 0.3s ease;
        }
        .top-div:hover {
            transform: translateY(-5px);
        }
        h2,p{
            color: black;
        }
        .bottom-div {
              height: 700px;
            width: 1000px;
            background-color: #d9d9d9;
            padding: 30px;
             margin-left: 250px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: box-shadow 0.3s ease;
        }
        .bottom-div:hover {
            box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        }
    
       
            margin: 25px;
        }