*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height:100%;
    width: 100%;
    background-color: #ffffff;
}




// first page section

.first{
display: flex;
align-items: center;
justify-content: center;
// flex-direction: column;
height: 100vh;
width: 100vw;

a,.log{
    display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000000;

.y{
font-family: jolly lodger;
// max-width: 489px;
font-size: 5rem;
}
.x{
    font-family: Instrument Serif;
    font-size: 1.6rem;
}
}
}



// main home page section

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    background-color: white;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
    margin-top: 10px;

 

    // last container of nav bar

    .secc{
        display: flex;
    justify-content: center;
    align-items: center;
position: relative;


// search icon

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}



        //input of search section


        input[type="search"] {
  width: 200px;
  padding: 10px 35px;
//   border: 2px solid #555;
background-color: #000000;
color: white;
  border-radius: 20px;
  font-style: inter;
  font-size: 12px;
  outline: none;
  transition: 0.3s ease;
  

  &:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
  }

  &::placeholder {
    color: #b1b0b0;
    font-style: italic;
  }
}
    }

    //vertical line
     .vertical-line {
      border-left: 2px solid black; /* Creates a 2px black vertical line on the left */
      height: 50px; /* Sets the height of the line */
      margin: 0 20px; /* Optional: Adds some spacing */
    }

button{
    
      width: 100px;
  padding: 15px 5px;
  border: none;
background-color: #5891DE;
color: rgb(0, 0, 0);
  border-radius: 5px;
  font-style: inter;
  font-size: 12px;
  cursor: pointer;

}

}

a,.logo{
    display: flex;
    // align-items: center;
    gap: 10px;
    text-decoration: none;
  
    
  



   
}

nav{
    display: flex;
    /* align-items: center; */
    gap: 50px;
    flex-wrap: wrap;
   

    
    
}



nav a:link {
     
    text-decoration:none ;
    color: rgb(0, 0, 0);

}

nav a:visited {
  color: rgb(162, 14, 207);  /* विजिटेड लिंक का color */
  text-decoration: underline;
    text-decoration-color: rgb(162, 14, 207);
} 

/* a:link 
{
    color: black;
} */
/* a:visited{
    color: chartreuse;
}
a:unvisited{
    color: rgb(0, 0, 0);
} */

nav a:hover{
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;
//     border: 2px solid brown;
//     border-radius: 2px;
//     padding: 3px;
// }
}
nav a:active{
    color: aqua;
    text-decoration: aqua;
}



// login page

.navvv{
    margin: 25px 0 50px 25px;
    text-decoration: none;
    color: #000000;
    text-decoration-color: #000000;

    i{
        color: #000000;
    }
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
    gap: 10px;

    // .logo2{

    // }
    .welcome{
font-weight: 800;
font-size: 2.8rem;
    }

    .cen{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: ;
    }
    .cre{
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        align-items: center;
        justify-content: baseline;
        width: 380px;
        // flex-direction: column;
color: black;
font-size: 13px;
// padding-left: 200px;

a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
    }

    .read{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: transparent; 
        // margin-left: 60px;

    }
    .box{
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
width: 315px;
background-color: #D9D9D9;

&::placeholder{
    color: black;
}
    }
    .log{
background-color: black;
color: white;
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: none;
width: 315px;
cursor: pointer;

    }
    .gog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: 1px solid black;
width: 315px;
cursor: pointer;
    }

    .forget{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        font-size: 13px;
        color: #000000;
        gap: 15px;

       

            .fir{
             cursor: pointer;
            }

             .sec{

                a{
                    text-decoration: underline;
                    color: #000000;

                font-weight: bold;
             }
            }
        }
    }

