@charset "UTF-8";
:root {
  --bg: #e9e9e9;
  --text: #111;
  --muted: #444;
  --accent: #000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.first2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}
.first2 a, .first2 .log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}
.first2 a .y, .first2 .log .y {
  font-family: Instrument Serif;
  font-size: 5rem;
}
.first2 a .x, .first2 .log .x {
  font-family: inter;
  font-size: 1.6rem;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.first a, .first .log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}
.first a .y, .first .log .y {
  font-family: jolly lodger;
  font-size: 5rem;
}
.first a .x, .first .log .x {
  font-family: Instrument Serif;
  font-size: 1.6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 25px 0px 25px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.header .secc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .secc .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .secc input[type=search] {
  width: 200px;
  padding: 10px 35px;
  background-color: #000000;
  color: white;
  border-radius: 20px;
  font-style: inter;
  font-size: 12px;
  outline: none;
  transition: 0.3s ease;
}
.header .secc input[type=search]:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
}
.header .secc input[type=search]::-moz-placeholder {
  color: #b1b0b0;
  font-style: italic;
}
.header .secc input[type=search]::placeholder {
  color: #b1b0b0;
  font-style: italic;
}
.header .vertical-line {
  border-left: 2px solid black; /* Creates a 2px black vertical line on the left */
  height: 50px; /* Sets the height of the line */
  margin: 0 20px; /* Optional: Adds some spacing */
}
.header button {
  width: 100px;
  padding: 15px 5px;
  border: none;
  background-color: #5891DE;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-style: inter;
  font-size: 12px;
  cursor: pointer;
}

a, .logo {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

nav {
  display: flex;
  /* align-items: center; */
  gap: 50px;
  flex-wrap: wrap;
}

nav a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:visited {
  color: rgb(162, 14, 207); /* विजिटेड लिंक का color */
  text-decoration: underline;
  text-decoration-color: rgb(162, 14, 207);
}

/* a:link 
{
    color: black;
} */
/* a:visited{
    color: chartreuse;
}
a:unvisited{
    color: rgb(0, 0, 0);
} */
nav a:hover {
  color: brown;
  text-decoration: underline;
  text-decoration-color: brown;
}

nav a:active {
  color: aqua;
  -webkit-text-decoration: aqua;
          text-decoration: aqua;
}

.navvv {
  margin: 25px 0 50px 25px;
  text-decoration: none;
  color: #000000;
  text-decoration-color: #000000;
}
.navvv i {
  color: #000000;
}

.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: inter;
  gap: 10px;
}
.container .welcome {
  font-weight: 800;
  font-size: 2.8rem;
}
.container .cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .cre {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  align-items: center;
  justify-content: baseline;
  width: 380px;
  color: black;
  font-size: 13px;
}
.container .cre a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.container .read {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.container .box {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  width: 315px;
  background-color: #D9D9D9;
}
.container .box::-moz-placeholder {
  color: black;
}
.container .box::placeholder {
  color: black;
}
.container .log {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  padding: 12px 15px;
  border: none;
  width: 315px;
  cursor: pointer;
}
.container .gog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  padding: 12px 15px;
  border: 1px solid black;
  width: 315px;
  cursor: pointer;
}
.container .forget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  font-size: 13px;
  color: #000000;
  gap: 15px;
}
.container .forget .fir {
  cursor: pointer;
}
.container .forget .sec a {
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.gall {
  height: 100vh;
  width: 100%;
  margin: auto;
}
.gall .gall-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}
.gall .gall-inner .up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  overflow: hidden;
}
.gall .gall-inner .up .box {
  width: 250px;
  height: 45vh;
  background-color: #D9D9D9;
  border: 10px;
  border-radius: 10px;
}
.gall .gall-inner .up .box1, .gall .gall-inner .up .box2, .gall .gall-inner .up .box3, .gall .gall-inner .up .box4, .gall .gall-inner .up .box5, .gall .gall-inner .up .box6 {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.gall .gall-inner .up .box1 .u2, .gall .gall-inner .up .box2 .u2, .gall .gall-inner .up .box3 .u2, .gall .gall-inner .up .box4 .u2, .gall .gall-inner .up .box5 .u2, .gall .gall-inner .up .box6 .u2 {
  height: 50%;
  width: 240px;
  margin: auto;
  padding-top: 5px;
}
.gall .gall-inner .up .box1 .u2 img, .gall .gall-inner .up .box2 .u2 img, .gall .gall-inner .up .box3 .u2 img, .gall .gall-inner .up .box4 .u2 img, .gall .gall-inner .up .box5 .u2 img, .gall .gall-inner .up .box6 .u2 img {
  width: 240px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center-30px;
     object-position: center-30px;
}
.gall .gall-inner .up .box1 .d2, .gall .gall-inner .up .box2 .d2, .gall .gall-inner .up .box3 .d2, .gall .gall-inner .up .box4 .d2, .gall .gall-inner .up .box5 .d2, .gall .gall-inner .up .box6 .d2 {
  height: 50%;
  width: 230px;
  margin: auto;
}
.gall .gall-inner .up .box1 .d2 .head, .gall .gall-inner .up .box2 .d2 .head, .gall .gall-inner .up .box3 .d2 .head, .gall .gall-inner .up .box4 .d2 .head, .gall .gall-inner .up .box5 .d2 .head, .gall .gall-inner .up .box6 .d2 .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gall .gall-inner .up .box1 .d2 .dis p, .gall .gall-inner .up .box2 .d2 .dis p, .gall .gall-inner .up .box3 .d2 .dis p, .gall .gall-inner .up .box4 .d2 .dis p, .gall .gall-inner .up .box5 .d2 .dis p, .gall .gall-inner .up .box6 .d2 .dis p {
  text-align: center;
}
.gall .gall-inner .down {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 80px;
}
.gall .gall-inner .down .box {
  width: 250px;
  height: 45vh;
  background-color: #D9D9D9;
  border: 10px;
  border-radius: 10px;
}
.gall .gall-inner .down .box4, .gall .gall-inner .down .box5, .gall .gall-inner .down .box6 {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.gall .gall-inner .down .box4 .u2, .gall .gall-inner .down .box5 .u2, .gall .gall-inner .down .box6 .u2 {
  height: 50%;
  width: 240px;
  margin: auto;
  padding-top: 5px;
}
.gall .gall-inner .down .box4 .u2 img, .gall .gall-inner .down .box5 .u2 img, .gall .gall-inner .down .box6 .u2 img {
  width: 240px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center-30px;
     object-position: center-30px;
}
.gall .gall-inner .down .box4 .d2, .gall .gall-inner .down .box5 .d2, .gall .gall-inner .down .box6 .d2 {
  height: 50%;
  width: 230px;
  margin: auto;
}
.gall .gall-inner .down .box4 .d2 .head, .gall .gall-inner .down .box5 .d2 .head, .gall .gall-inner .down .box6 .d2 .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gall .gall-inner .down .box4 .d2 .dis p, .gall .gall-inner .down .box5 .d2 .dis p, .gall .gall-inner .down .box6 .d2 .dis p {
  text-align: center;
}

footer {
  font-family: "Montserrat", system-ui, Arial, sans-serif;
  padding: 40px 0;
  font-size: 14px;
  position: relative;
  background-color: #D9D9D9;
}
footer .bo {
  font-weight: bold;
}
footer .bo div {
  max-width: 50%;
  height: 20px;
}
footer .top {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding-top: 15px;
  background-color: #ADA7A7;
  margin-bottom: 20px;
}
footer .top a {
  color: black;
}
footer .last {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 280px;
  width: 95%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer .last .box {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
footer .last .box1 {
  width: 290px;
}
footer .last .box5 {
  margin-top: 20px;
  width: 230px;
}
footer .last .box2, footer .last .box3, footer .last .box4, footer .last .box6 {
  margin-top: 20px;
  width: 200px;
}
footer .line {
  display: flex;
  height: 1px;
  background-color: black;
  width: 90%;
  margin: auto;
}
footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 10px;
  width: 90%;
  margin: auto;
}
footer a {
  color: black;
}

#container {
  display: flex;
  height: 80vh; /* full screen height */
  overflow-x: auto; /* enables vertical scrolling */
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin-top: 20px;
}

#container::-webkit-scrollbar {
  display: none;
}

/* #container::-webkit-scrollbar
{
    height: 8px;
}
#container::-webkit-scrollbar:hover{
    background-color: #555;
} */
#container .g {
  height: 100vh;
  flex: 0 0 100vw;
  background-size: cover;
  background-image: url(./assets/images/1.jpg);
}

#container .a {
  height: 100vh;
  flex: 0 0 100vw;
  background-size: cover;
  background-image: url(./assets/images/National\ Museum\,\ New\ Delhi.jpg);
}

#container .b {
  height: 100vh;
  flex: 0 0 100vw;
  background-size: cover;
  background-image: url(./assets/images/National\ Museum\,\ New\ Delhi.png);
}

#container .d {
  height: 100vh;
  flex: 0 0 100vw;
  background-size: cover;
  background-image: url(./assets/images/National\ Museum\,\ New\ Delhi\ \(1\).png);
}

#container .e {
  height: 100vh;
  flex: 0 0 100vw;
  background-size: cover;
  background-image: url(./assets/images/National\ Museum\,\ New\ Delhi\ \(3\).jpg);
}/*# sourceMappingURL=style.css.map */