*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height:100%;
    width: 100%;
    background-color: #ffffff;
}




// first page section

.first{
display: flex;
align-items: center;
justify-content: center;
// flex-direction: column;
height: 100vh;
width: 100vw;

a,.log{
    display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000000;

.y{
font-family: jolly lodger;
// max-width: 489px;
font-size: 5rem;
}
.x{
    font-family: Instrument Serif;
    font-size: 1.6rem;
}
}
}



// main home page section

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
    margin-top: 10px;
}
a,.logo{
    display: flex;
    // align-items: center;
    gap: 10px;
    text-decoration: none;
  
    
  



   
}

nav{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    flex-wrap: wrap;
   

    
    
}



nav a:link {
     
    text-decoration:none ;
    color: purple;

}

nav a:visited {
  color: rgb(0, 0, 0);  /* विजिटेड लिंक का color */
  text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
} 

/* a:link 
{
    color: black;
} */
/* a:visited{
    color: chartreuse;
}
a:unvisited{
    color: rgb(0, 0, 0);
} */

nav a:hover{
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;
//     border: 2px solid brown;
//     border-radius: 2px;
//     padding: 3px;
// }
}
nav a:active{
    color: aqua;
    text-decoration: aqua;
}



// login page

.navvv{
    margin: 25px;
    text-decoration: none;
    color: #000000;
    text-decoration-color: #000000;

    i{
        color: #000000;
    }
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
    gap: 10px;

    // .logo2{

    // }
    .welcome{
font-weight: 800;
font-size: 2.8rem;
    }

    .cen{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: ;
    }
    .cre{
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        align-items: center;
        justify-content: baseline;
        width: 380px;
        // flex-direction: column;
color: black;
font-size: 13px;
// padding-left: 200px;

a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
    }
    .box{
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
width: 315px;
background-color: #D9D9D9;

&::placeholder{
    color: black;
}
    }
    .log{
background-color: black;
color: white;
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: none;
width: 315px;

    }
    .gog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 14px;
border-radius: 10px;
padding: 12px 15px;
border: 1px solid black;
width: 315px;
    }
    .forget{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        font-size: 10px;
        color: #000000;
        gap: 15px;

       

            .fir{
             cursor: pointer;
            }

             .sec{

                a{
                    text-decoration: underline;
                    color: #000000;

                font-weight: bold;
             }
            }
        }
    }

