*{
    margin: 0px;
    padding: 0px;
}


body {
    height:100%;
    width: 100%;
    background-color: #ffffff;
}




// first page section

.first{
display: flex;
align-items: center;
justify-content: center;
// flex-direction: column;
height: 100vh;
width: 100vw;

a,.log{
    display: flex;
align-items: center;
justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000000;

.y{
font-family: jolly lodger;
// max-width: 489px;
font-size: 5rem;
}
.x{
    font-family: Instrument Serif;
    font-size: 1.6rem;
}
}
}



// main home page section

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
    margin-top: 10px;
}
a,.logo{
    display: flex;
    // align-items: center;
    gap: 10px;
    text-decoration: none;
  
    
  



   
}

nav{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    flex-wrap: wrap;
   

    
    
}



nav a:link {
     
    text-decoration:none ;
    color: purple;

}

nav a:visited {
  color: rgb(0, 0, 0);  /* विजिटेड लिंक का color */
  text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
} 

/* a:link 
{
    color: black;
} */
/* a:visited{
    color: chartreuse;
}
a:unvisited{
    color: rgb(0, 0, 0);
} */

nav a:hover{
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;
//     border: 2px solid brown;
//     border-radius: 2px;
//     padding: 3px;
// }
}
nav a:active{
    color: aqua;
    text-decoration: aqua;
}



// login page

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo2{

    }
    .welcome{

    }
    .cre{

    }
    .box{

    }
    .log{

    }
    .gog{

    }
    .forget{
        
    }
}
