*{
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    flex-wrap: wrap;
    
}
